<div class = "row">
    <center>
        <h1 class="text-black-50">Rooms Imported Successfully</h1>
        <a asp-controller="FileUpload" asp-action="Index" class="btn btn-primary">Back</a>
    </center>
</div>